@font-face {
    font-family: Roboto;
    src: url('fonts/roboto-condensed-light.woff') format('woff'),
        url('fonts/roboto-condensed-light.woff2') format('woff2');
}

@font-face {
    font-family: Comiccity;
    src: url('fonts/comiccity.woff') format('woff');
}